<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Order # </h1>
    <h1>Thank you for your order </h1>
    <p>
      Your order has successfully gone through the Jungle
    <br>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Here are your order details</p>

    <p> Total Price: </p>
    <br>
    <p>Thank you for shopping at the Jungle. Hope to see you again!</p>
  </body>
</html>