<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Order # <%= @order.id %></h1>
    <h1>Thank you for your order <%= @user.name %></h1>
    <p>
      Your order has successfully gone through the Jungle
    <br>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Here are your order details</p>
    <p></p>
  </body>
</html>